body {
  background-color: black;
}

header {
  background-color: black;
  border: solid;
  border-color: silver;
  border-width: thin;
  height: 4rem;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  color: silver;
  text-align: center;
}

header h1 {
  font-family: 'Times New Roman', Times, serif;
}

.lifeDisplay {
  font-size: 18px;
  width: 40%;
  height: 1rem;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-left: solid silver;
  border-right: solid silver;
  border-width: thin;
  color: silver;
  text-align: center;
}

.containerImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  width: 40%;
  height: 25rem;
  border-left: solid silver;
  border-right: solid silver;
  border-width: thin;
  margin-left: 30%;
  margin-right: 30%;
}

.containerImg img {
  width: 96%;
  height: 96%;
  margin: 2%;
}

.containerWord {
  background-color: black;
  width: 40%;
  height: 7rem;
  border-top: solid silver;
  border-left: solid silver;
  border-right: solid silver;
  border-width: thin;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 1rem;
}

.game {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 200%;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.instruction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 2px;
  color: silver;
  text-align: center;
  font-size: large;
}

.play {
  width: 25%;
  line-height: 200%;
  color: silver;
  background-color: black;
  margin-left: 25%;
}

.enter {
  width: 25%;
  line-height: 200%;
  color: silver;
  background-color: black;
}

.Already {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  color: silver;
  width: 40%;
  border-left: solid silver;
  border-right: solid silver;
  border-bottom: solid silver;
  border-width: thin;
  padding-top: 1rem;
  margin-left: 30%;
  margin-right: 30%;
  height: 2rem;
}

@media (max-width: 300px) {
  header {
    width: 100%;
    margin: 0%;
  }
  .lifeDisplay {
    width: 100%;
    margin: 0%;
  }
  .containerImg {
    width: 100%;
    margin: 0%;
  }
  .containerWord {
    width: 100%;
    margin: 0%;
  }
  .game {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .instruction {
    margin-left: 25%;
    margin-right: 5%;
  }
  .Already {
    width: 100%;
    margin: 0%;
  }
}

@media (max-width: 650px) {
  header {
    width: 100%;
    margin: 0%;
  }
  .lifeDisplay {
    width: 100%;
    margin: 0%;
  }
  .containerImg {
    width: 100%;
    margin: 0%;
  }
  .containerWord {
    width: 100%;
    margin: 0%;
  }
  .game {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .instruction {
    margin-left: 25%;
    margin-right: 5%;
  }
  .Already {
    width: 100%;
    margin: 0%;
  }
}
/*# sourceMappingURL=hangman.css.map */